<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirigir cualquier acceso a la raíz al index.php -->
                <rule name="Redirect root to index.php" stopProcessing="true">
                    <match url="^$" /> <!-- Coincide con la raíz del dominio -->
                    <action type="Redirect" url="https://productstores-e2f2hjhqdcfmdme9.eastus2-01.azurewebsites.net/pantallas/index.php" redirectType="Permanent" />
                </rule>

                <!-- Redirigir de HTTP a HTTPS -->
                <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
